.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 2px;
  padding: 0;
  border: solid #b1b1b1 1px;
  box-shadow: 0 1px 4px rgba(12, 12, 13, 0.1);
  border-radius: 2px;
}
.menu li {
  padding: 4px 8px;
  background: #fbfbfb;
  display: block;
  border: none 0px;
  cursor: pointer;
}
.menu li:hover,
.menu li:focus {
  background: #ebebeb;
}
.menu li.separator {
  border-bottom: solid #b1b1b1 1px;
  margin: 1px 0;
  padding: 0;
}
