.sidebar {
  flex: 0 0 280px;
  padding: 64px 16px 8px 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sidebar button {
  padding: 8px;
}

.main {
  padding: 64px 48px 8px 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
