#progress {
  background: linear-gradient(90deg, #fff, #fff 40%, #070 45%, #070 55%, #fff 60%, #fff);
  background-size: 400%;
  animation: progress 4s linear infinite;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 4px;
}

@keyframes progress {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

#pulser {
  position: absolute;
  font-size: 4em;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateY(-50%);
  animation: pulse 2s linear infinite;
  height: 2em;
  height: 2em;
}

@keyframes pulse {
  0% {
    transform: translateY(-50%) translateY(-50%) scale(1);
  }
  5% {
    transform: translateY(-50%) translateY(-50%) scale(1);
  }
  50% {
    transform: translateY(-50%) translateY(-50%) scale(0.5);
  }
  55% {
    transform: translateY(-50%) translateY(-50%) scale(0.5);
  }
}
