#permissionRequired {
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f9f9fa;
}
#permissionRequired h1 {
  font-weight: bold;
  font-size: 1.14em; 
  margin: 0 0 16px 0; 
  padding: 0;
}

#permissionRequired button {
  padding: 8px;
  margin: 16px 8px 0;
}
.card {
  text-align: center;
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(12, 12, 13, 0.1);
  max-width: 50em;
  margin: 0 0 64px 0;
}