html {height: 100%; }
body {display: flex; flex-direction: row; width: 100%; height: 100%; padding: 0; margin: 0; }

#sidebar {flex: 1; display: flex; flex-direction: column; align-items: stretch; }
#title {flex: 0; display: flex; align-items: stretch; flex-direction: row; }
#title input {flex: 1 1 10px; }
#title button {flex: 0; flex-basis: 24px; margin: 0; }
#sidebar select {flex-grow: 1; min-width: 10px; }

.menu {display: flex; flex-direction: column; list-style-type: none; margin: 2px; padding: 0; border: solid #b1b1b1 1px; box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); }
.menu li { padding: 4px 4px; background: #fbfbfb; display: block; border: none 0px; cursor: pointer; }
.menu li:hover, .menu li:focus { background: #ebebeb; }

#preview {border: none 0px; margin: 0; padding: 0; display: none; }

@media (min-width: 45em) and (max-width: 85em) {
    div#sidebar {flex: 0 0 30%; }
    iframe#preview {display: block; flex: 1; }
}
@media (min-width: 85em) {
    div#sidebar {flex: 0 0 25.5em; }
    iframe#preview {display: block; flex: 1; }
}