html {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
  padding: 4px;
  border-right: solid #ccc 1px;
}

#title {
  flex: 0;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  gap: 4px;
}

#title input {
  flex: 1 1 10px;
}

#title button {
  flex: 0;
  flex-basis: 24px;
  margin: 0;
}

#sidebar select {
  flex-grow: 1;
  min-width: 10px;
}

select {
  border: none 0px;
}

option {
  padding: 4px;
}

option:hover {
  background: #ebebeb;
}

#preview {
  border: none 0px;
  margin: 0;
  padding: 0;
  flex: 1;
}

@media (min-width: 45em) and (max-width: 85em) {
  div#sidebar {
    flex: 0 0 30%;
  }
}
@media (min-width: 85em) {
  div#sidebar {
    flex: 0 0 25.5em;
  }
}
