#sidebar {position: absolute; left: 0; top: 0; bottom: 0; right: 0; display: flex; flex-direction: column; }
#title {display: flex; align-items: center; }
#filter, #pages {flex-grow: 1; min-width: 10px; }
#expand {flex-shrink: 0; }
#filter, #expand {margin: 2px; }

#expanded {display: none; position: fixed; right: 4px; top: 32px; padding: 2px 2px 0 2px; background: #ccc; }
#expanded button {display: block; width: 100%; margin: 0 0 2px 0; padding: 0 1.5em;}
.expand #expanded {display: block; }

#expanded button.advanced {display: none; }
.advancedEnabled #expanded button.advanced {display: block; }
