body {font-family: sans-serif; padding: 10px 10px 6px 10px; margin: 0; }
.browser-style { margin-bottom: 4px; }
input[type=color] {width: 3em; margin-right: 0.5em; }
button.browser-style { background-color: #fbfbfb; border: 1px solid #b1b1b1; height: 24px; transition-duration: 250ms; transition-property: background-color; }
button.browser-style:hover:not(.pressed):not(.disabled):not(.focused) {background-color: #ebebeb; border: 1px solid #b1b1b1;}
button.browser-style:hover:active:not(.hover):not(.disabled):not(.focused) {background-color: #d4d4d4; border: 1px solid #858585;}
button.browser-style.default { background-color: #0996f8; border-color: #0670cc; color: #fff; }
button.browser-style.default:hover:not(.pressed):not(.disabled):not(.focused) {background-color: #0670cc; border-color: #005bab;}
button.browser-style.default:hover:active:not(.hover):not(.disabled):not(.focused) {background-color: #005bab; border-color: #004480;}
button.browser-style:focus:not(.disabled) {border-color: #fff !important; }
button.browser-style.expander { background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNOCwxMkwzLDcsNCw2bDQsNCw0LTQsMSwxWiIgZmlsbD0iIzZBNkE2QSIgLz4KPC9zdmc+Cg==) no-repeat center; background-color: white; height: 24px; padding: 0; width: 24px; }
