h2 {font-weight: normal; }
select {width: 100%; }
.buttons {text-align: right; margin-top: 8px; }
.section.browser-style {font-weight: bold; margin-top: 8px; }

.import {display: none; }
.canimport .import {display: inline; }
input[type=color] {vertical-align: middle; }
#includepreview, #excludepreview, #addpreview, #removepreview, #movepreview {padding: 1px 0.5em; vertical-align: middle; }

#advancedDisabled, #advancedUnsupported {background: #ffc; border: dotted #f00 1px; padding: 4px 4px 0 4px; margin: 1em 2em;}
.advancedEnabled #advancedDisabled, .advancedUnsupported #advancedDisabled {display: none;}
#advancedUnsupported {display: none; }
.advancedUnsupported #advancedUnsupported {display: block; }

.advanced {text-decoration: line-through; }
.advancedEnabled .advanced {text-decoration: none; }
.advancedUnsupported .advanced {display: none; }