#sitedeltaPages listitem[status="1"] {list-style-image: url(changed.gif); }
#sitedeltaPages listitem[status="0"] {list-style-image: url(unchanged.gif); }
#sitedeltaPages listitem[status="-3"] {list-style-image: url(loading.gif); }
#sitedeltaPages listitem[status="-2"] {list-style-image: url(error.gif); }
#sitedeltaPages listitem {list-style-image: url(unchecked.gif); }
