#sidebar {position: absolute; left: 0; width: 100%; top: 0; height: 100%; display: flex; flex-direction: column; }
#title {display: flex; align-items: center; }
#filter, #pages {flex-grow: 1; }
#filter, #expand {margin: 2px; }

#expanded {display: none; position: absolute; right: 4px; top: 30px; padding: 0; background: #ccc; }
#expanded button {display: block; width: 100%; margin: 0; padding: 0 1.5em;}
.expand #expanded {display: block; }

#content {position: absolute; left: 0; right: 0; top: 0; bottom: 0; }
#preview {position: absolute; left: 0; right: 0; bottom: 0; top: 0; width: 100%; height: 100%; border: none 0px; margin: 0; padding: 0; }
#content, #preview {display: none; }

@media (min-width: 45em) and (max-width: 85em) {
    div#sidebar {width: 30%; }
    div#content {left: 30%; }
    div#content, iframe#preview {display: block; }
}
@media (min-width: 85em) {
    div#sidebar {width: 25.5em; }
    div#content {left: 25.5em; }
    div#content, iframe#preview {display: block; }
}