option {padding-left: 1.3em; }
option {background: no-repeat 0.2em center; background-size: auto 0.8em; }
option.unchanged {background-image: url(../common/icons/unchanged.svg); }
option.changed {background-image: url(../common/icons/changed.svg); }
option.failed {background-image: url(../common/icons/inactive.svg); }

.pagesNone #delete, .pagesNone #watchdelay { display: none; }
span.pagesNone, span.pagesMultiple, span.pagesOne { display: none; }
.pagesNone span.pagesNone, .pagesOne span.pagesOne, .pagesMultiple span.pagesMultiple { display: inline; }