#title {position: fixed; font-size: 1em; font-weight: bold; padding: 0; margin: 0; line-height: 26px; vertical-align: middle; left: 4px; top: 4px; height: 26px; right: 34px;}
#expanded {display: none; position: fixed; right: 4px; top: 32px; padding: 0; background: #ccc; }
#expand {position: fixed; right: 4px; top: 4px; }
#expanded button {display: block; width: 100%; margin: 0; padding: 0 1.5em;}
.expand #expanded {display: block; }

#pages {position: fixed; left: 0; top: 30px; width: 100%; bottom: 0; right: 0;}
