body {padding: 12px 8px 4px 8px; min-width: 20em; user-select: none; }
#status {font-weight: bold; margin: 0 0 8px 0; }
#config {display: none; margin-top: 8px;}
#settings {display: none; margin-top: 8px; }
.section.browser-style {font-weight: bold; margin-top: 8px; }
.buttons {text-align: right; }
.browser-style input[type="text"], .browser-style select {width: 100%; }
#watchUnsupported, #watchEnabled, #watchDisabled {display: none; }
#changed {height: 6em; }
#changedPages {display: none; }
.changes #changedPages {display: block; }
.unsupported #watch {display: none; }
.disabled #watchDisabled, .enabled #watchEnabled, .unsupported #watchUnsupported {display: inline; }
span.enabled, span.disabled { display: none; }
.enabled span.enabled, .disabled span.disabled { display: inline; }
#open {display: none; }
.open #open {display: inline; }
.open #watch {display: none; }

body {background-position: 8px 12px; background-repeat: no-repeat; background-size: 2em; }
#status {padding-left: 2.5em; }
body.enabled {background-image: url(../common/icons/unchanged.svg); }
body.enabled.changed {background-image: url(../common/icons/changed.svg); }
body.disabled {background-image: url(../common/icons/inactive.svg); }
body.unsupported {background-image: url(../common/icons/highlight.svg); }