body {padding: 12px 8px 4px 8px; min-width: 20em; }
#status {font-weight: bold; margin: 0 0 8px 0; }
#config {display: none; margin-top: 8px;}
#settings {display: none; margin-top: 8px; }
.section.browser-style {font-weight: bold; margin-top: 8px; }
.buttons {text-align: right; }
.browser-style input[type="text"], .browser-style select {width: 100%; }
#open, #changedPages, #watchUnsupported, #watchEnabled, #watchDisabled {display: none; }
#changed {height: 6em; }
.changes #open {display: inline; }
.changes #changedPages {display: block; }
.unsupported #watch {display: none; }
.disabled #watchDisabled, .enabled #watchEnabled, .unsupported #watchUnsupported {display: inline; }